
Lora-SVC/20210728_u2pp_conformer_exp/
Lora-SVC/20220506_u2pp_conformer_exp/
Lora-SVC/data_svc-all_singers-all_vocies
Lora-SVC/hubert_pretrain/
Lora-SVC/pre-trained-models/
Lora-SVC/speaker_pretrain/
Lora-SVC/storage/
Lora-SVC/wenet/
Lora-SVC/wenet_backup/
Lora-SVC/whisper_pretrain/
OpenSinger